*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font: 14px "microsoft yahei";
	transition: all 0.6s;
}
body{
	background: rgb(239,239,239);
}
.clearfix:after{
	display: block;
	content: "";
	clear: both;
}
/*header*/
.header{
	height: 53px;
	background: rgb(255,190,50);
}
.header a{
	color: rgb(37,37,37);
}
.wrap{
	width: 960px;
	margin: 0 auto;
}
.logo{
	float: left;
	padding: 8px 0;
}
.logo a{
	display: block;
	height: 37px;
}
.nav{
	float: left;
	padding-left: 35px;
}
.nav li{
	float: left;
	padding: 17px 32px;
}
.searchAndStar{
	float: right;
}
.searchAndStar li{
	position: relative;
	float: left;
	padding: 17px 13px;
}	
.header li:hover{
	background: rgb(255,206,122);
}

.searchBox{
	display: none;
	position: absolute;
	bottom: -38px;
	left: 0;/*此处不加会导致盒子往右偏移*/
	z-index: 2;
}
.searchAndStar li:first-child:hover .searchBox{
	display: block;
}
.searchBox:before{
	display: block;
	position: absolute;
	top: -5px;
	left: 31px;
	content: "";
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	z-index: 3;
}
.searchBox form{
	position: relative;
	overflow: hidden;
	width: 213px;
	border: 1px solid rgb(204,204,204);
	border-radius: 4px;
}
.searchBox form i{
	position: absolute;
	top: 11px;
	right: 10px;
	color: rgb(255,190,50);
	-moz-user-select: none;
}
.searchBox .search{
	float: left;
	width: 180px;
	height: 36px;
	padding-left: 8px;
	border: 0;
}
.searchBox .submit{
	float: left;
	width: 25px;
	height: 36px;
	border: 0;
	background: #fff;
	cursor: pointer;
}
.starBox{
	display: none;
	position: absolute;
	bottom: -113px;
	left: -120px;
	width: 238px;
	padding: 17px 0;
	background: #fff;
	border: 1px solid rgb(204,204,204);
	border-radius: 6px;
	z-index: 2;
}
.searchAndStar li:last-child:hover .starBox{
	display: block;
}
.starBox:before{
	display: block;
	position: absolute;
	top: -5px;
	left: 150px;
	content: "";
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	z-index: 3;

}
.starBox div{
	float: right;
	margin-right: 15px;
}
.starBox img{
	float: left;
	padding: 5px 10PX 5px 15px;
	border-right: 2px solid #000;
}
.starBox .sina{
	margin: 5px 0;
}

.starBox p span{
	font-size: 12px;
}
.fa-weixin{
	color: rgb(101,200,27);
}
.fa-weibo{
	color: rgb(242,82,39);
}.fa-qq{
	color: rgb(56,169,228);
}
/*main*/
.main{
	width: 960px;
	margin: 0 auto;
}
.banner{
	margin-top: 15px;
}
.bannerLeft,.banner3{
	float: left;
}
.bannerRight,.banner4{
	float: right;
}
.banner a{
	display: block;
	position: relative;
	color: rgb(255,255,255);
}
.banner a span{
	position: absolute;
	left: 0;
	bottom: 25px;
	padding-left: 15px;
}
.banner1 a span{
	padding-left: 25px;
	font-size: 18px;
	color: rgb(240,240,240);
}
.banner2 img{
	overflow: hidden;
	margin-bottom: 6px;
	border: 1px solid transparent;
	border-radius: 0 0 6px 6px;
}
/*mainLeft*/
.mainLeft{
	float: left;
	width: 714px;
}
.contentNav ul{
	height: 40px;
	margin: 15px 0;
	background: rgb(255,255,255);
	border-radius: 7px;
}
.contentNav li{
	float: left;
}
.contentNav a{
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 25px;
	color: rgb(37,37,37);
}
.contentNav .cShow a{
	position: relative;
	background: rgb(255,190,50);
	border-radius: 7px;
}
.contentNav .cShow a:after{
	position: absolute;
	left: 50%;
	bottom: -5px;
	content: "";
	transform:translate(-50%,0);
	border-top: 5px solid rgb(255,190,50); 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
#paper>div,#APP>div,#chan>div,#ASO>div{
	height: 135px;
	margin-bottom: 15px;
	padding: 15px;
	background: rgb(255,255,255);
	border-radius: 7px;
}
.newsImg{
	float: left;
}
.newsContent{
	float: right;
	width: 485px;
	margin-left: 27px;
}
.newsContent h3 a{
	color: rgb(37,37,37);
	font: 18px;
	font-weight: 700;
}
.newsContent span,.newsContent i{
	color: rgb(150,150,150);
}
.newsContent p{
	color: rgb(79,79,79);
}
.newsContent li{
	float: left;
}
.essay span{
	height: 40px;
	line-height: 40px;
}
.essay p a{
	color: rgb(79,79,79);
}
.essay a:hover{
	text-decoration: underline;
}
.bookmark{
	float: left;
}
.reader{
	float: right;
}
.bookmark,.reader{
	margin: 20px 0 5px 0;
}
.bookmark a,.bookmark i,.bookmark span,.reader i,.reader span {
	font-size: 13px;
}
.bookmark li{
	margin-right: 10px;
}
.bookmark li:first-child{
	margin: 0;
}
.bookmark li a{
	color: rgb(150,150,150);
	text-decoration: underline;
}
.bookmark li a:hover{
	color: rgb(37,37,37);
}
#paper .more{
	padding: 0;
	height: 50px;
}
#paper .more input{
	width: 100%;
	color: rgb(150,150,150);
	background: rgb(225,225,225);
	border: 0;
	border-radius: 7px;
	line-height: 50px;
	text-align: center;
	font-family: "adobe 黑体 std";
}
#paper .more:hover input{
	color: rgb(37,37,37);
	cursor: pointer;
}
/*mainRight*/
.mainRight{
	float: right;
	width: 236px;
	margin-top: 15px;
}
.hot{
	overflow: hidden;
	height: 553px;
	border-radius: 7px;
	background: rgb(255,255,255);
}
#hotTab li{
	float: left;
	width: 118px;
	height: 44px;
	background: rgb(225,225,225);
}
#hotTab .hShow{
	background: rgb(255,255,255);
}
#hotTab li a{
	display: block;
	color: rgb(37,37,37);
	line-height: 44px;
	text-align: center;
}
#hotEssay ul{
	padding: 30px 20px 0 17px;
}
#hotEssay li{
	margin-bottom: 20px;
}
#hotEssay li span{
	color: rgb(37,37,37);
	font-size: 13px;
}
#hotEssay li a div{
	float: left;
	height: 40px;
	margin-right: 12px;
}
#hotEssay li a div span{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: rgb(225,225,225);
	text-align: center;
	line-height: 16px;
	border: 1px solid transparent;
	border-radius: 50%;
}
#hotEssay li a .top1 span{
	background: rgb(255,63,32);
}
#hotEssay li a .top2 span{
	background: rgb(255,144,70);
}
#hotEssay li a .top3 span{
	background: rgb(255,201,70);
}
#hotEssay li a:hover>span{
	text-decoration: underline;
}
.hidden{
	display: none;
}
#hotLab td a{
	display: block;
	padding: 6px 3px;
	color: rgb(213,151,0);
	background: rgb(255,242,212);
	border: 1px solid rgb(255,242,212);
	border-radius: 4px;
}
#hotLab td a:hover{
	background: rgb(210,242,212);
}
.ad{
	float: right;
}
.ad>div{
	margin-top: 18px;
}
.serve{
	float: right;
	margin-top: 80px;
}
/*footer*/
.footer{
	background: rgb(60,60,60);
}
.footer .wrap{
	padding: 38px;
}
.footerLeft{
	float: left;
	width: 716px;
}
.footerLeft a,.footer span{
	color: rgb(150,150,150);
}
.footerLeft a:hover{
	color: #eee;
}
.frendsLink h3,.contact h3,.follow h3{
	color: #fff;
	font-size: 16px;
}
.frendsLink{
	margin-bottom: 25px;
}
.frendsLink li{
	float: left;
	width: 112px;
	margin-right: 45px;
	padding: 9px 0;
}
.frendsLink li:nth-child(5){
	margin-right: -45px;
}
.contact{
	float: left;
}
.contact h3{
	margin-bottom: 25px
}
.tell{
	margin-right: 10px;
}
.follow{
	float: right;
}
.follow h3{
	margin-bottom: 13px;
}
.follow form{
	position: relative;
}
.follow input{
	width: 178px;
	height: 25px;
	padding-left: 32px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.follow form i{
	position: absolute;
	top: 7px;
	left: 9px;
	color: rgb(255,190,50);
}
.follow .submit{
	width: 53px;
	height: 27px;
	margin-left: 8px;
	padding: 0;
	background: rgb(255,190,50);
}
.follow .submit:hover{
	background: rgb(200,190,75);
}
.wechat{
	float: right;
	width: 116px;
	margin: 45px;
}
.wechat span{
	display: block;
	text-align: center;
}
.footerBottom{
	height: 71px;
	background: rgb(51,51,51);
}
.footerBottom p{
	color: rgb(150,150,150);
	font-size: 16px;
	line-height: 71px;
	text-align: center;
}
